.formContainer {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  gap: 8px;
}

.formDatePicker{
  background: transparent;
  border: none;
  position: absolute;
  top: 66px;
  left: 570px;
  }

  .form input[type="date"]::-webkit-calendar-picker-indicator {
    width: 20px;
    height: 20px;
  }

  input[type="date"]::-webkit-datetime-edit {
    display:none;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    background-image: url(../../calendar.svg);
    background-color: transparent;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }