@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;600;700&display=swap');

.header {
  height: 200px;
  background: #0D0D0D;
}

.buttonModal {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: -27px;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}

button {
  height: 54px;
  border-radius: 8px;
  background: #1E6F9F;
  color: #F2F2F2;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.coments-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}
